html, body			{ margin: 0;
				  padding: 0; }
body				{ color: #333; 
				  font-size: 14pt; 
				  font-family: "Alegreya sans", sans-serif; 
				  font-weight: 400; 
				  background-color: #eee; }
a				{ text-decoration: none; }
aside				{ display: none; }
article				{ display: block;
				  padding: 0ex 1ex; }
article[data-sblg-article]	{ border: thin dashed orange;
				  border-radius: 4pt; }
address				{ display: inline; 
				  font-style: normal; }
body > section			{ background-color: #ffffff;
				  padding: 1em 20%; }
body > section > div[data-sblg-permlink]
				{ margin: 1em auto; }
body > footer			{ padding: 1em 0; 
				  text-align: center;
				  font-size: smaller;
				  color: #999; }
body > footer a			{ color: #444; }
body > footer a:hover		{ color: #000; }
pre, code			{ font-size: smaller; }
p.code				{ background-color: #eeeeee;
				  border-radius: 0.5ex;
				  padding: 0.5ex;
				  border: thin dashed #cccccc; }
p.code > code.tab		{ padding-left: 4ex; }
p.code > code.dtab		{ padding-left: 8ex; }
p.code > code			{ display: block; }
.name				{ font-weight: 500; }
body > header			{ padding: 1em 20%;
				  color: #dddddd;
				  background-color: #336699; }
strong, b			{ font-weight: 500; }
body > header h1		{ margin: 0;
				  color: #aaa;
				  font-size: 24pt;
				  font-weight: inherit; }
body > header h1 a		{ color: #fff; }
body > header div		{ display: inline; }
article[data-sblg-article] header h2
				{ font-weight: 500;
				  font-size: 18pt; }
article[data-sblg-article] header address,
article[data-sblg-article] header time
				{ color: #666666; 
				  font-weight: 500; }
.noshow				{ display: none; }
div.version			{ color: #333333;
				  background-color: #dddddd;
				  border-bottom: thin solid #aaaaaa;
				  padding: 1em 20%; }
div.version > div > span	{ border-right: thin solid #aaaaaa; 
				  margin-right: 0.75ex; 
				  padding-right: 1ex; }
div.version > div > a		{ color: #333;  
				  padding: 0 0.5ex; }
div.version > div > a:hover	{ color: #000; }
nav[data-sblg-nav] ul		{ list-style-type: none; 
				  margin: 0; 
				  padding: 0; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
 body > header			{ padding: 2em 2%; }
 body > header h1		{ font-size: 16pt; }
 div.version			{ padding: 1em 2%; }
 body > section			{ padding: 1em 2%; }
}
