html, body			{ margin: 0;
				  padding: 0; }
body				{ color: #333; 
				  line-height: 1.3em;
				  font-size: 14pt; 
				  font-family: "Alegreya sans", sans-serif; 
				  font-weight: 400; }
a				{ text-decoration: none; }
aside				{ display: none; }
body > article			{ width: 66rem;
				  max-width: 98%;
				  margin-left: auto;
				  margin-right: auto; }
body > header			{ background-color: #336699; }
body > footer			{ padding: 2em 0; 
				  text-align: center;
				  font-size: 90%;
				  color: #999; }
body > footer a			{ color: #444; }
body > footer a:hover		{ color: #000; }
.intro				{ opacity: 0.75; }
p.code,
pre				{ overflow-x: hidden;
				  background-color: #f8f8f8; 
				  border-radius: 4pt;
				  padding: 0.5rem !important;
			  	  overflow-x: auto;
				  border: none !important;
				  font-size: 75%; }
pre				{ line-height: 1.4em; }
code				{ font-size: 75%; }
.prettyprint a > *		{ color: blue !important; }
p.code > code.tab		{ padding-left: 4ex; }
p.code > code.dtab		{ padding-left: 8ex; }
p.code > code			{ display: block;
				  font-size: 100%; }
pre:not(.prettyprint) > code	{ font-size: 100%; }
.name				{ font-weight: 500; }
strong, b			{ font-weight: 500; }
body > header h1		{ color: #ccc;
				  font-size: 200%;
				  font-weight: inherit; 
				  padding: 1rem 0;
			  	  width: 66rem;
				  max-width: 98%;
				  margin: 0 auto; }
body > header h1 a		{ color: #fff; }
article[data-sblg-article]	{ margin-top: 2rem; } 
article[data-sblg-article] header
				{ text-align: center; }
article[data-sblg-article] h1,
article[data-sblg-article] header h2
				{ font-weight: 500;
				  font-size: 125%; }
article[data-sblg-article] h1	{ text-align: center; }
article[data-sblg-article] header > div
				{ display: none; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
 body > header h1		{ font-size: 150%;
	 			  text-align: center; }
 div.version			{ text-align: center; }
 article[data-sblg-article] h1,
 article[data-sblg-article] header h2
				{ font-size: 110%; }
}
