@import "shared.css";

nav > ul	{ margin: 0;
		  padding-bottom: 1ex;
		  padding-top: 1ex;
		  padding-left: 3ex; }
article h2	{ font-size: inherit; }
#tagnav ul	{ list-style-type: none; 
		  padding: 0; }
#tagnav time	{ color: #336699; 
		  font-weight: bold; }
#tagnav li	{ margin-top: 0.4em; 
		  margin-bottom: 0.4em; }
