body, html			{ height: 100%;
				  margin: 0; }
body				{ font-family: 'Alegreya Sans', sans-serif; }
a				{ text-decoration: none; }
figure				{ text-align: center;
				  margin: 0; }
figure img			{ width: 98%; 
				  max-width: 450px; }
figure img.larger		{ max-width: 800px; }
h3				{ font-size: 18pt;
				  font-weight: 500;
				  font-variant: small-caps;
				  margin-top: 3rem;
				  text-align: center; }
h4				{ font-size: 15pt;
				  font-weight: 500;
				  text-align: center;
				  font-variant: small-caps; }
body > nav			{ background-color: #336699;
				  padding: 4rem 0 1rem 0; }
body > nav div			{ color: #aaa; }
h1				{ color: #fff; 
				  font-weight: inherit;
				  font-size: 200%; }
h1 span				{ color: #aaa; }
body > nav div a		{ color: #eee; }
body > nav a			{ color: #ccc; 
				  border-bottom: 2px solid transparent; }
body > nav a:hover		{ color: #eee; 
				  border-bottom: 2px solid rgba(255, 255, 255, 0.8); }
body > nav .nav			{ font-size: 85%; 
				  display: -webkit-box;
				  display: -ms-flexbox;
				  display: flex; }
.templates			{ display: -webkit-box;
				  display: -ms-flexbox;
				  display: flex; }
.templates > figure		{ -webkit-box-flex: 1;
				          -ms-flex: 1;
				              flex: 1;
				  padding: 1rem; }
.templates figcaption		{ text-align: center;
				  font-size: smaller;
				  opacity: 0.8; }
.templates img			{ width: 100%;
				  box-shadow: 0 0 2px #ccc; }
section				{ color: #333; }
section .intro			{ font-size: 125%; 
				  color: #000;
				  margin-bottom: 2em;
				  line-height: 1.4em; }
body > nav .explain		{ margin-left: 12pt; }
body > nav a ~ .explain > span	{ display: none; 
			   	  color: #aaa; }
#nav-gears:hover ~ .explain > #explain-gears,
#nav-lock:hover ~ .explain > #explain-lock,
#nav-file:hover ~ .explain > #explain-file,
#nav-rss:hover ~ .explain > #explain-rss,
#nav-github:hover ~ .explain > #explain-github
				{ display: inline; }
#nav-status			{ -webkit-box-flex: 1;
				          -ms-flex: 1;
				              flex: 1;
				  text-align: right; }
#nav-status a			{ border: 3px solid rgba(255, 255, 255, 0.5);
				  padding: 4pt 8pt; 
				  transition: border linear 0.2s;
				  border-radius: 4pt; }
#nav-status a:hover		{ border: 3px solid rgba(255, 255, 255, 0.7);
				  color: #fff; }
#versions	 		{ background-color: #f8f8f8; 
				  border-top: thin solid #eee;
				  border-bottom: thin solid #eee; }
#versions time			{ font-weight: 500;
				  color: #000; }
#versions ul			{ list-style-type: none; 
				  padding: 0; }
#versions p			{ margin: 0.5rem 0; }
#versions li + li		{ padding-top: 1rem; }
strong, b			{ font-weight: 500; }
code, .prettyprint		{ font-size: 75%; }
pre.prettyprint			{ border: none !important;
				  line-height: 1.4em; }
.prettyprint a > *		{ color: blue !important; }
.prettyprint + .button		{ margin-top: -0.5rem; }
.seeall				{ text-align: center; 
				  padding-top: 1rem; }
footer				{ padding: 3rem 0;
				  font-size: 90%;
				  color: #666;
				  text-align: center; }
footer a			{ color: #000; 
				  border-bottom: thin transparent; }
footer a:hover			{ border-bottom: thin solid rgba(0, 0, 0, 0.5); }
.res				{ font-size: 80%;
				  display: inline-block;
				  padding: 0.5rem 1rem; 
				  margin-top: 0.5rem;
				  border-radius: 1rem;
				  font-weight: 500;
				  color: #fff;
				  background-color: #336699; }
.res i.fa			{ font-size: 60%; 
				  font-weight: 400;
				  padding-left: 0.5rem;
				  color: #ddd; }


@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  div.prettyprint		{ overflow: hidden; }
  body > nav			{ padding: 1rem 0 0.5rem 0; }
  h1				{ font-size: 125%; }
  article .intro		{ font-size: 110%; }
}
