body, html			{ height: 100%;
				  margin: 0; }
body				{ font-size: 14pt; 
				  font-family: "Alegreya sans", Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; 
				  font-weight: 400;
				  line-height: 17pt; }
a				{ text-decoration: none; }
body > header			{ padding: 1.5em 0;
				  text-align: center;
				  font-size: 36pt;
				  line-height: 36pt;
				  background-color: #ccc; }
body > header h1,
body > header h2		{ color: #555; }
h1, h2				{ font-size: inherit; 
				  margin: 0; 
				  font-weight: 400;
				  text-shadow: 0 0 1px #fff; }
body > nav			{ background-color: #336699; 
				  font-size: 14pt;
				  padding: 24pt 20%; }
body > nav div			{ margin: 2em 0; 
				  color: #aaa; }
body > nav div.logo		{ color: #fff; 
				  margin-bottom: 12pt; 
				  font-size: 24pt; }
body > nav div.logo span	{ color: #aaa; }
body > nav div a		{ color: #eee; }
body > nav a			{ color: #ccc; 
				  border-bottom: 2px transparent; }
body > nav a:hover		{ color: #eee; 
				  border-bottom: 2px solid rgba(255, 255, 255, 0.8); }
article				{ color: #333; }
article > p			{ padding: 0 20%; }
article .intro			{ font-size: 16pt; 
				  color: #000;
				  margin-bottom: 2em;
				  line-height: 22pt; }
body > nav .explain		{ margin-left: 12pt; }
body > nav a ~ .explain > span	{ display: none; 
			   	  color: #aaa; }
#nav-gears:hover ~ .explain > #explain-gears,
#nav-lock:hover ~ .explain > #explain-lock,
#nav-file:hover ~ .explain > #explain-file,
#nav-rss:hover ~ .explain > #explain-rss,
#nav-github:hover ~ .explain > #explain-github
				{ display: inline; }
nav[data-sblg-nav] ul		{ list-style-type: none; 
				  border-top: thin solid #ddd;
				  border-bottom: thin solid #ddd;
				  background-color: #eee; 
				  padding: 8pt 20%; }
nav[data-sblg-nav] div > p:first-child
				{ margin-top: 0em; }
nav[data-sblg-nav] li + li	{ margin-top: 1em; }
nav[data-sblg-nav] li > div:last-child
				{ padding: 4pt 12pt 0 12pt; }
nav[data-sblg-nav] i[class~="fa-clock-o"]
				{ font-size: 11pt; }
code				{ font-size: smaller; }
strong, b			{ font-weight: 500; }
div.prettyprint			{ font-size: smaller; 
				  line-height: 14pt;
				  padding: 0 20%; }
pre.prettyprint			{ border: none !important; }
.prettyprint a > *		{ color: blue !important; }
footer				{ padding: 12pt 0;
				  font-size: 11pt;
				  color: #666;
				  text-align: center; }
footer nav			{ font-size: 12pt; 
				  margin-bottom: 0.2em; }
footer a			{ color: #000; 
				  border-bottom: thin transparent; }
footer a:hover			{ border-bottom: thin solid rgba(0, 0, 0, 0.5); }


@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
article > p,
nav[data-sblg-nav] ul,
div.prettyprint			{ padding: 0 2%; }
div.prettyprint			{ overflow: hidden; }
body > nav			{ padding: 12pt 2%; }
body > nav div			{ margin: 1em 0; }
body > nav div.logo		{ font-size: 16pt; 
				  margin-bottom: 0.5em; }
body > header			{ font-size: 24pt; 
			 	  padding: 1em 0;
				  line-height: 28pt; }
}
