body, html			{ height: 100%;
				  margin: 0; }
body				{ font-family: "Alegreya sans", sans-serif; 
				  font-size: 140%;
				  font-weight: 400; }
a				{ text-decoration: none; }
figure				{ text-align: center;
				  margin: 0; }
figure img			{ width: 98%; 
				  max-width: 450px; }
figure img.larger		{ max-width: 800px; }
h3				{ font-size: 18pt;
				  font-weight: 500;
				  font-variant: small-caps;
				  margin-top: 3rem;
				  text-align: center; }
body > nav			{ background-color: #336699;
				  padding: 4rem 0 1rem 0; }
body > nav div			{ width: 66rem;
				  max-width: 98%;
				  margin-left: auto;
				  margin-right: auto;
				  color: #aaa; }
h1				{ color: #fff; 
				  font-weight: inherit;
				  font-size: 200%; }
h1 span				{ color: #aaa; }
body > nav div a		{ color: #eee; }
body > nav a			{ color: #ccc; 
				  border-bottom: 2px transparent; }
body > nav a:hover		{ color: #eee; 
				  border-bottom: 2px solid rgba(255, 255, 255, 0.8); }
body > nav .nav			{ font-size: 85%; }
article				{ color: #333; }
article > div,
article > p			{ width: 66rem;
				  max-width: 98%; 
				  margin-left: auto;
				  margin-right: auto; }
p				{ line-height: 1.3em; }
article .intro			{ font-size: 125%; 
				  color: #000;
				  margin-bottom: 2em;
				  line-height: 1.4em; }
body > nav .explain		{ margin-left: 12pt; }
body > nav a ~ .explain > span	{ display: none; 
			   	  color: #aaa; }
#nav-gears:hover ~ .explain > #explain-gears,
#nav-lock:hover ~ .explain > #explain-lock,
#nav-file:hover ~ .explain > #explain-file,
#nav-rss:hover ~ .explain > #explain-rss,
#nav-github:hover ~ .explain > #explain-github
				{ display: inline; }
nav[data-sblg-nav] 		{ background-color: #f8f8f8; 
				  border-top: thin solid #eee;
				  border-bottom: thin solid #eee; }
nav[data-sblg-nav] time		{ font-weight: 500;
				  color: #000; }
nav[data-sblg-nav] ul		{ list-style-type: none; 
				  padding-left: 0;
				  padding-right: 0;
				  width: 66rem;
				  margin-left: auto;
				  margin-right: auto;
				  max-width: 98%; }
nav[data-sblg-nav] p		{ margin: 0.5rem 0; }
nav[data-sblg-nav] li + li	{ padding-top: 1rem; }
strong, b			{ font-weight: 500; }
code, .prettyprint		{ font-size: 75%; }
pre.prettyprint			{ border: none !important; }
.prettyprint a > *		{ color: blue !important; }
.seeall				{ text-align: center; 
				  padding-top: 1rem; }
footer				{ padding: 3rem 0;
				  font-size: 90%;
				  color: #666;
				  text-align: center; }
footer a			{ color: #000; 
				  border-bottom: thin transparent; }
footer a:hover			{ border-bottom: thin solid rgba(0, 0, 0, 0.5); }


@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
div.prettyprint			{ overflow: hidden; }
body > nav			{ padding: 12pt 2%; }
body > nav div			{ margin: 1em 0; }
body > nav div.logo		{ font-size: 16pt; 
				  margin-bottom: 0.5em; }
}
