body, html			{ height: 100%;
				  margin: 0; }
body				{ font-family: 'Alegreya Sans', sans-serif; }
figure				{ text-align: center;
				  margin: 0; }
figure img			{ width: 98%; 
				  max-width: 450px; }
figure img.larger		{ max-width: 800px; }
h3				{ font-size: 24pt;
				  font-weight: 500;
				  font-variant: small-caps; }
h4				{ font-size: 18pt;
				  font-weight: 500;
				  font-variant: small-caps; }
body > nav			{ background-color: #336699;
				  padding: 4rem 0 1rem 0; }
body > nav div			{ color: #ccc; }
h1				{ color: #fff; 
				  font-weight: inherit;
				  font-size: 200%; }
h1 span				{ color: #ccc; }
body > nav div a		{ color: #eee; }
body > nav a			{ color: #fff; }
body > nav .nav			{ font-size: 85%; 
				  display: flex; }
#templates			{ display: grid;
				  grid-template-columns: 1fr 1fr 1fr;
				  gap: 1rem; }
#templates > figure		{ flex: 1;
				  padding: 1rem; }
#templates figcaption		{ text-align: center;
				  font-size: smaller;
				  opacity: 0.8; }
#templates img			{ width: 100%;
				  box-shadow: 0 0 2px #ccc; }
section				{ color: #333; }
section .intro			{ font-size: 125%; 
				  color: #000;
				  line-height: 1.4em; }
body > nav .explain		{ margin-left: 12pt; }
body > nav a ~ .explain > span	{ display: none; 
			   	  color: #fff; }
#nav-npm:hover ~ .explain > #explain-npm,
#nav-gears:hover ~ .explain > #explain-gears,
#nav-lock:hover ~ .explain > #explain-lock,
#nav-file:hover ~ .explain > #explain-file,
#nav-rss:hover ~ .explain > #explain-rss,
#nav-github:hover ~ .explain > #explain-github
				{ display: inline; }
#versions	 		{ background-color: #f8f8f8; 
				  border-top: thin solid #eee;
				  padding-top: 1rem;
				  border-bottom: thin solid #eee; }
#versions time			{ font-weight: 500;
				  color: #000; }
#versions .fa			{ font-size: smaller; }
strong, b			{ font-weight: 500; }
div.prettyprint			{ overflow-x: hidden;
				  background-color: #f8f8f8; 
				  border-radius: 4pt;
				  padding: 0 0.5rem; }
pre.prettyprint			{ overflow-x: auto; }
code				{ font-size: 75%; }
pre.prettyprint			{ border: none !important;
				  font-size: 75%;
				  line-height: 1.4em; }
.prettyprint a > *		{ color: blue !important; }
footer				{ padding: 3rem 0 1rem 0;
				  font-size: 90%;
				  color: #666;
				  text-align: center; }
.btn				{ display: inline-block;
				  padding: 0.25rem 0.5rem; 
				  border-radius: 0.5rem;
				  font-weight: 500;
				  color: #fff;
				  background-color: #336699; }
.note				{ display: flex;
				  margin: 1rem auto;
				  gap: 0.5rem; }
.note > :first-child		{ background-color: orange;
				  border-radius: 0.25rem;
				  padding: 0 0.25rem; }
.note > :last-child		{ flex: 1; }
.coverage-table			{ display: grid;
				  gap: 0 1rem;
				  grid-template-columns: auto auto; }

@media (width < 768px) {
  body > nav			{ padding: 1rem 0 0.5rem 0; }
  h1				{ font-size: 125%; }
  article .intro		{ font-size: 110%; }
  #templates			{ grid-template-columns: 1fr 1fr;
	  			  gap: 0.5rem; }
  .coverage-table		{ grid-template-columns: 1fr auto; }
}

@media (width < 512px) {
  #templates			{ grid-template-columns: 1fr; }
}
